{% extends 'base.html' %} 

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary px-5 py-0" >
  <a class="my-1" href="https://github.com/tarnilok" target="_blank" title="Navigate to My Github Page"><img src="static/images/steve.png" alt="myAvatar" style="width: 50px; background-color: white; border-radius: 50%;"/></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" style="font-size: 1.2rem;" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.2rem;" href="{% url 'about' %}">About</a>
      </li>
    </ul>
  </div>
  <div >
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.2rem;" href="/admin">Admin</a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.2rem;" href="{% url 'newpost' %}">New Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.2rem;" href="{% url 'profile' request.user.id %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.2rem;" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.2rem;" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.2rem;" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock navbar %} 

