{% extends 'base.html' %} 
{% block container %} 
{% load crispy_forms_tags %}

<div class="d-flex justify-content-center mt-4">
  <div style="width: fit-content; min-width: 600px" >
    <h2 style="text-align: center;">Blog Post</h2><hr>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{form | crispy}}
      <div class="detailbuttons d-flex justify-content-center my-3">
        <button class="btn btn-secondary btn-md active btn-block mx-5" style="width: 200px;"  type="submit" aria-pressed="true">Post</button>
      </div>
    </form>
  </div>
</div>
{% endblock container %}
    