{% extends 'blogApp/navbar.html' %} 
{% block container %} 
{% load crispy_forms_tags %}

<div class="row mt-4">
  <div class="col-md-6 offset-md-3">
    <h2 style="text-align: center;">Blog Post</h2><hr>
    {% if request.user.is_authenticated %}
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{form | crispy}}
      <div class="detailbuttons d-flex justify-content-center my-4">
        <button class="btn btn-secondary btn-md active btn-block mx-5" style="width: 200px;"  type="submit" aria-pressed="true">Post</button>
      </div>
    </form>
    {% else %}
    <h5>Please Login or Register first!</h5>
  </div>
</div>
{% endif %} {% endblock container %}
    